.wrapper{
margin-bottom: 100px;
}
.wrapper h3{
	text-align: center;
	}

.body {
	border-top: 1px dashed #3f4e6557;
	margin-bottom: 60px;
}
.summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}
.total {
	font-weight: 700;
	font-size: 30px;
	line-height: 130%;
	color: #111111;
}

.total::after {
		content: '₸';
}