.checkbox {
	margin-top: 5px;
display: flex;
align-items: center;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #3F4E65;
}
.checkbox label {
	margin-left: 5px;
}

.checkbox span {
	font-size: 10px;
	margin-left: 5px;
}