
.border {
	border-bottom:1px solid #3f4e6534;
}
.top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	min-height: 60px;
}
.contacts {
	display: flex;
}
.contact {
	display: flex;
	margin-right: 40px;
	padding: 5px 0;
}
.contact a {
	margin-left: 15px;
}
.contact a span {
	font-weight: 600;
	font-size: 14px;
	line-height: 130.02%;
	color: #111111;
	}
.contact a p {
	font-weight: 300;
	font-size: 12px;
	line-height: 130.02%;
	color: #3F4E65;
}
.sublink {
	margin-left: 60px;
	font-size: 14px;
	line-height: 150%;
	color: #3F4E65;
	font-weight: 400;
}
.sublink:hover {
text-decoration: underline;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 108px;
}

.logo {
	margin-right: 10px;
	margin-top: 5px;
}


.search {
	margin: 0 10px;
	background-color: #ededed;
	min-height: 60px;
	border-radius: 79px;
	min-width: 260px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.search input {
	background-color: #ededed;
	flex: 1 1 auto;
	margin: 5px;
	padding: 5px 0;
	font-size: 12px;
	line-height: 150%;
	color: #5C6370;
	opacity: 0.6;
	border: none;
}
.search img {
	width: 18px;
	height: 18px;
}

.search span {
	cursor: pointer;
	background-color: #FFC85E;
	border-radius: 50%;
	width: 39px;
	height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1270px) {
	.contacts {
		display: none;
	}
	.search {
		display: none;
	}
	.call {
		display: none;
	}
}
